header,
footer {
    margin: 0 auto;
    width: 100%;
    background-color: #ececec;
    border-bottom: 1px solid black;
    clear: both;
}

header h1,
footer p {
    padding: 10px;
}

header {
    height: 100px;
}
.content {
    float: right;
    width: 100%;
    margin-left: -50px;
    z-index: 1;
}
.core-content {
    margin-left: 50px;
}
.side-content {
    float: right;
    width: 50px;
    z-index: 10;
}
.custom-data {
    margin-bottom: 50px;
    display: none;
}
.nav-header,
.dynamic-nav {
    clear: both;
    display: none;
    position: relative;
}

.icon-close,
.icon-open {
    font-size: 15px;
    height: 18px;
    width: 20px;
    display: block;
    text-align: center;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding-top: 2px;
}

.icon-close {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;
}

.icon-open {
    margin: 5px 0 0 15px;
}

.open-nav .content {
    margin-left: -250px;
}
.open-nav .core-content {
    margin-left: 250px;
}
.open-nav .side-content {
    width: 250px;
}
.open-nav .dynamic-nav,
.open-nav .nav-header,
.open-nav .icon-close {
    display: block;
}
.open-nav .icon-open {
    display: none;
}
.open-nav .custom-data {
    display: block;
}